<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">Enes Kaşoğlu</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Enes Kaşoğlu</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/eneskasoglu">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/eneskasoglu">LinkedIn</a></li>
          <li><a href="https://substack.com/@eneskasoglu">Substack</a></li>
          <i class="fab fa-linkedin"></i>  [eneskasoglu](https://www.linkedin.com/in/eneskasoglu)  
          <i class="fab fa-github"></i>  [eneskasoglu](https://github.com/eneskasoglu)
          <i class="fas fa-rss"></i>  [eneskasoglu](https://eneskasoglu.substack.com/)
          <i class="fas fa-envelope"></i>  [enes@eneskasoglu.com](mailto:enes@eneskasoglu.com)
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>Embedded Software Engineer<br/>© 2025<br/>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
      </div>
    </div>
  </div>
</footer>
