<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ site.baseurl }}/">Enes Kasoglu</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">📝 Home</a>
        <a class="page-link" href="{{ site.baseurl }}/about">👤 About</a>
        <a class="page-link" href="{{ site.baseurl }}/blog">📝 Blog</a>
        <a class="page-link" href="{{ site.baseurl }}/contact">📞 Contact</a>
        <a rel="me" class="page-link" href="https://www.linkedin.com/in/eneskasoglu" target="_blank">💼 LinkedIn</a>
      </div>
    </nav>
  </div>
</header>
