<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">Enes Kaşoğlu</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{ "/enes/" | relative_url }">📝 Home</a>
        <a class="page-link" href="{ "/enes/about/" | relative_url }">👤 About</a>
        <a class="page-link" href="{ "/enes/blog/" | relative_url }">📝 Blog</a>
        <a class="page-link" href="{ "/enes/contact" | relative_url }">📞 Contact</a>        
        <a rel="me" class="page-link" href="https://www.linkedin.com/in/eneskasoglu" target="_blank">💼 LinkedIn</a>
      </div>
    </nav>
  </div>
</header>
